.MuiButton-root:hover {
  background-color: rgb(117, 117, 247);
} 

.MuiButtonBase-root {
  font-size: 2.5rem !important;
} 

@media (max-width: 1550px) {
  .MuiButtonBase-root {
    font-size: 1rem !important;
  } 
}

@media (max-width: 755px) {
  .MuiButtonBase-root {
    font-size: 1.1rem !important;
  } 
}

@media (max-width: 655px) {
  .MuiButtonBase-root {
    /* width: 10rem !important; */
    font-size: .7rem !important;
  } 
}

