.Navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  width: 100%;
}

.NavigationLinks {
  display: flex;
  justify-content: space-between;
  width: 35vw;
}

.NavigationLink {
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 1.1rem;
  transition: 0.4s all;
  cursor: pointer;
}

.NavigationLink:hover {
  color: blue;
  border-bottom: 1px solid blue;
}

.MuiButtonBase-root {
  color: black !important;
}

@media (max-width: 585px) {
  .NavigationLinks {
    width: 50vw;
  }
}
