.AboutPageProfile {
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
  grid-template-rows: auto;
  width: 90%;
  margin: 3rem auto 10rem auto;
}
.AboutPageProfileDesc {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
  grid-template-rows: auto;
  border-bottom: 1px solid black;
  width: 90%;
  margin: 3rem auto 6rem auto;
}

.AboutPageProfileSkills {
  display: flex;
}

.AboutPageProfileInfo {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 10;
  grid-row: 1;
  grid-auto-rows: min-content;
  margin: auto 0;
  z-index: 1;
}

.AboutPageProfileText {
  grid-column: 1/12;
  font-weight: 600;
  font-size: 4rem;
}

.AboutPageProfileImg {
  display: block;
  grid-column: 4/12;
  max-height: 1100px;
  border-radius: 4px;
}

.AboutPageProfileImageContainer {
  margin: auto 0;
  border-radius: 4px;
  grid-column: 6/13;
  grid-row: 1;
  max-height: 900px;
}

.AboutPageProfileImage {
  display: block;
  width: 100%;
  border-radius: 3px;
}

.AboutPageProfileDescription {
  grid-row: 1;
  text-align: start;
  width: 37ch;
  line-height: 5rem;
  font-size: 3rem;
}

ul {
  list-style-position: inside;
  padding-bottom: 4rem;
}

.AboutPageProfileDescription:not(:first-of-type) {
  margin: 4rem auto;
}

@media (max-width: 2480px) {
  .AboutPageProfileText {
    font-size: 3.5rem;
  }
  .AboutPageProfileImg {
    grid-column: 3/12;
    max-height: 1100px;
  }
  .AboutPageProfileImageContainer {
    grid-column: 6/13;
    max-height: 900px;
  }
  .AboutPageProfileDescription {
    width: 35ch;
    line-height: 5rem;
    font-size: 2.5rem;
  }
  ul {
    padding-bottom: 2rem;
  }
  .AboutPageProfileDescription:not(:first-of-type) {
    margin: 2rem auto;
  }
}

@media (max-width: 1550px) {
  .AboutPageProfileText {
    font-size: 2rem;
  }
  .AboutPageProfile {
    margin: 3rem auto 5rem auto;
  }
  .AboutPageProfileImg {
    grid-column: 5/12;
    max-height: 550px;
  }
  .AboutPageProfileImageContainer {
    grid-column: 6/13;
    max-height: 500px;
  }
  .AboutPageProfileDescription {
    width: 37ch;
    line-height: 2.5rem;
    font-size: 1.5rem;
  }
  ul {
    padding-bottom: 2rem;
  }
  .AboutPageProfileDescription:not(:first-of-type) {
    margin: 2rem auto;
  }
}

@media (max-width: 1300px) {
  .AboutPageProfileImg {
    grid-column: 1/12;
  }
}

@media (max-width: 1050px) {
  .AboutPageProfileImg {
    max-height: 450px;
  }
  .AboutPageProfileDescription {
    line-height: 2rem;
    font-size: 1.2rem;
  }
  .AboutPageProfileText {
    font-size: 1.3rem;
  }
}

@media (max-width: 1000px) {
  /* .AboutPageProfileDescription {
    line-height: 2rem;
    font-size: 1.2rem;
  }
  .AboutPageProfileText {
    font-size: 1.3rem;
  } */
}

@media (max-width: 900px) {
  .AboutPageProfileDesc {
    display: flex;
    flex-direction: column;
  }
  ul {
    padding-top: 2rem;
  }
  .AboutPageProfileImg {
    max-height: 300px;
    align-self: flex-end;
  }
  .AboutPageProfileDescription {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .AboutPageProfileImg {
    max-height: 200px;
  }
}

@media (max-width: 475px) {
  .AboutPageProfileImageContainer {
    grid-column: 4/13;
    max-height: 600px;
  }
  .AboutPageProfileDescription {
    line-height: 1.7rem;
    font-size: 1rem;
  }
  .AboutPageProfileText {
    font-size: 1.2rem;
  }
  .AboutPageProfileDescription:not(:first-of-type) {
    margin: 1rem 0;
  }
}
@media (max-width: 400px) {
  .AboutPageProfileImageContainer {
    grid-column: 2/13;
  }
  .AboutPageProfileText {
    font-weight: 600;
  }
  .AboutPageProfileImg {
    max-height: 150px;
  }
}
