.WelcomeSection {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
  grid-template-rows: auto;
  /* height: 90vh; */
  margin: auto auto;
  overflow: hidden;
}

.WelcomeSectionDescription {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 10;
  grid-row: 1;
  grid-auto-rows: min-content;
  z-index: 1;
  width: 90%;
  margin: auto auto;
}

.WelcomeSectionText {
  grid-column: 1/12;
  font-size: 4rem;
  padding-bottom: 1rem;
  font-weight: 400;
}

.WelcomeSectionImageContainer {
  grid-column: 1/13;
  grid-row: 1;
  background-color: rgba(26, 70, 218, 0.2);
  margin: auto 0;
}

.WelcomeSectionImage {
  margin: auto 0;
  width: 100%;
  display: block;
}
@media (max-width: 1550px) {
  .WelcomeSectionText {
    font-size: 2.5rem;
  }
}

@media (max-width: 900px) {
  .WelcomeSectionText {
    font-size: 2rem;
  }
}

@media (max-width: 655px) {
  .WelcomeSectionText {
    font-size: 1.5rem;
  }
  .WelcomeSectionImage {
    height: 300px;
  }
}

@media (max-width: 455px) {
  .WelcomeSectionDescription {
    grid-column-end: 13;
  }
  .WelcomeSectionImageContainer {
    grid-column: 1/13;
  }
  .WelcomeSectionImageContainer {
    width: 130%;
  }
}
